
.modal-panel {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  justify-content: center;
  align-items: center;
}

.modal-content-pane {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.modal-content {
  background-color: #fff;
  padding: 20px;
  width: 200px;
  height: 200px;
  border-radius: 8px;
  text-align: center;
}

nav ul {
  display: flex;
  list-style: none;
  padding: 0;
}

nav li {
  margin-right: 20px;
}

.menu-box {
  position: relative;
}

.menu-box ul {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #fff;
  border-radius: 8px;
  z-index: 1;
  width: 150px;
}

@media screen and (max-width: 768px) {
  nav ul {
    flex-direction: column;
    align-items: center;
  }

  nav li {
    margin-right: 0;
    margin-bottom: 10px;
  }
}

.menu-box {
  position: relative;
}

.menu-box.active ul {
  display: block;
}

#showMenuBtn {
  padding: 10px 20px;
  background-color: #007BFF;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

#showMenuBtn:hover {
  background-color: #0056b3;
}

#modalTrigger {
  padding: 10px 20px;
  background-color: #007BFF;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  text-decoration: none;
}

#modalTrigger:hover {
  background-color: #0056b3;
}

main {
  font-family: "Playfair Display";
  margin-left: 20px;
  margin-right: 20px;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
}

#showMenuBtn, #modalTrigger {
  padding: 10px 20px;
  background-color: #007BFF;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin: 0 10px;
}

#showMenuBtn:hover, #modalTrigger:hover {
  background-color: #0056b3;
}

.modal-panel {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-content {
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  text-align: center;
}
